<div class="row" id="orders">
    <div class="collection">
        {{#each burgers}}
        <a href="#!" class="collection-item"><span class="badge">{{id}}</span>{{burger_name}}</a>
        {{/each}}
    </div>
</div>