<div class="col s3">

    <h5 class="center">Ordered Burgers</h5>

    {{#each burgers}}{{#unless devoured}}
    <div class="collection">
        {{> burgers/burger-block devoured=true}}
    </div>
    {{/unless}}{{/each}}
</div>

<div class="col s6">
    <form class="orderForm">
        <div class="row">
            <div class="input-field col offset-s3 s6">
                <input id="newBurger" type="text" class="validate">
                <label class="active" for="orderForm">Enter Your Burger Order</label>
                <button class="btn btn-large waves-effect waves-light right purple darken-2 z-depth-4" type="submit"
                    name="action">
                    Order
                </button>
            </div>
        </div>
    </form>
</div>

<div class="col s3">
    <h5 class="center">Eaten Burgers</h5>

    {{#each burgers}}{{#if devoured}}
    <div class="collection">
        {{> burgers/burger-block devoured=false}}
    </div>
    {{/if}}{{/each}}
</div>