<div class="collection-item">
    {{burger_name}}
    <button data-id="{{id}}" data-devoured="{{devoured}}" class="change-devoured">
        <span>
            {{#unless devoured}}
            Send it Back
            {{else}}
            Eat Your Burger!
            {{/unless}}
        </span>
    </button>
</div>